html {
	font-size: 62.5%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-size-adjust: 100%;
	overflow-x:hidden !important;
}

body {
	height: 100%;
	color: rgb(25, 26, 25);
	background-color: #fff;
	position:relative !important;
	overflow-x:hidden !important;
}

.hero{
    background: url("/images/praise.jpg") no-repeat;
    background-position: center;
    background-size: 500px;
    height:200px;
    width:100%;

    .left{
        margin-top:3%;
        margin-left:3%;

        h2{
        text-transform: uppercase;
        font-size: 30px;
        color:white;
        font-weight:800;
        }
    }

    .logo-container{
        margin-left:30%;

        img{
        width: 90px;
        height:80px;
        margin-right:1%;
        }
    }

    .img-content{
        display: flex;
        flex-direction: row;
    }

    .hero-banner p{
        text-transform: capitalize;
        font-size:15px;
        font-style: italic;
        color:whitesmoke;
        text-align:center;
        margin-top:6%;
    }
}

.footer{
    margin-top:10%;
    height:auto;
    margin-bottom:1%;
    background: #82015B;
    .flex-container{
        display:flex;
        flex-direction:row;
        align-items:center;

        .footer_profile{
            img{
                padding:5px;
                border-radius:85px;
                width:130px;
                height:130px;
            }
        }

        .footer_content{
            margin-left:5%;
            p{
                text-align:center;
                font-size:18px;
                font-weight:600;
                color:#f2f2f2;
                text-transform:capitalize;
                letter-spacing:1px;
                font-style:italic;
            }
        }
    }
}